.courses-container {
    background-color: rgb(227, 233, 242);
    min-height: 100vh; /* This will make sure the container covers the full viewport height */
    background-size: cover; /* This is typically used with background images, but it's included here in case you add an image later */
    padding: 20px; /* Add padding to ensure content doesn't touch the edges */
    box-sizing: border-box; /* This ensures padding is included in the width and height calculations */
  }
  
  .course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
  }
  
  .course-card img {
    width: 100%;
    height: auto;
  }
  
  .course-info {
    padding: 10px;
  }
  
  .course-info h3 {
    margin: 0;
    padding-bottom: 10px;
  }
  