/* LoginPage.css */
.login-background {
    background: url('bg.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background: rgba(0, 0, 0, 0.75); /* Translucent background */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form {
    color: #0c0c0c;
  }
  
  .login-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #4E4E4E;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: #010101;
  }
  
  .login-form .form-control:focus {
    border-color: #007bff;
  }
  
  .login-form .btn-custom {
    background: #007bff;
    border-radius: 25px;
    border: 0;
    letter-spacing: 0.1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Add more styles as needed for other elements */
  
  /* Additional styles for vertical alignment */
  .forgot-link a {
    color: #121212;
  }
  
  .forgot-link a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .form-check-label {
    margin-bottom: 0;
  }
  
  .form-check-input {
    margin-top: 0;
    vertical-align: middle;
  }
  
  /* Responsive adjustments */
  @media (max-width: 576px) {
    .login-container {
      padding: 25px;
    }
  }

  .login-modal {
    background: #fff; /* Solid color background for modal */
    padding: 20px;
    border: 1px solid #ccc; /* Enhanced modal's border */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ensure modal is centered */
    width: 100%;
    max-width: 400px; /* Match width with login-container */
  }
  